<%= form_for(@clip) do |f| %>
  <% if @clip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@clip.errors.count, "error") %> prohibited this clip from being saved:</h2>

      <ul>
      <% @clip.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table class="table table-bordered">
    <tr>
      <th style="width: 6%">제목</th><td><%= Newspaper.find(@clip_newspaper).title.gsub(/[&#39;]/, '') %></td>
    </tr>
    <tr>
      <th>날짜</th><td><%= Newspaper.find(@clip_newspaper).pubDate.gsub(/\.\d\d\d\d\d\d/, '') %></td>
    </tr>
    <tr>
      <th>링크</th><td><%= link_to '기사 읽기...', Newspaper.find(@clip_newspaper).link %></td>
    </tr>
    <tr>
      <th>출판사</th><td><%= Newspaper.find(@clip_newspaper).publisher.gsub(/[&#39;]/, '') %></td>
    </tr>
    <tr>
      <th>내용</th><td><%= Newspaper.find(@clip_newspaper).description.gsub(/[&#39;]/, '') %></td>
    </tr>
  </table>
  
  <div class="control-group">
    <%= f.label :memo, class: 'control-label' %>
    <div class="controls">
      <%= f.text_area :memo, class: 'text_area', placeholder: "memo", rows: "2" %>
    </div
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
