<h1>Listing newspapers</h1>

<%= paginate @newspapers %>

<% @newspapers.each do |newspaper| %>
  <table class="table table-bordered">
    <tr>
      <th style="width: 6%">제목</th><td><%=  newspaper.title.gsub(/[&#39;]/, '') %></td>
    </tr>
    <tr>
      <th>날짜</th><td><%= newspaper.pubDate.gsub(/\.\d\d\d\d\d\d/, '') %></td>
    </tr>
    <tr>
      <th>링크</th><td><%= link_to '기사 읽기...', newspaper.link %></td>
    </tr>
    <tr>
      <th>출판사</th><td><%= newspaper.publisher.gsub(/[&#39;]/, '') %></td>
    </tr>
    <tr>
      <th>내용</th><td><%= newspaper.description.gsub(/[&#39;]/, '') %></td>
    </tr>
  </table>
  <div id = "scrap_button">
    <% if user_signed_in? %>
      <div id="fb-root"></div>
      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/ko_KR/all.js#xfbml=1&appId=146841328818239";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>
      <div class="fb-like" data-href="http://lvh.me:3000/newspapers/<%=  newspaper.id %>" data-send="false" data-width="450" data-show-faces="false" data-font="verdana"></div>
      <a id="tw-share" href="https://twitter.com/share" data-url="http://lvh.me:3000/newspapers/<%=  newspaper.id %>" data-counturl="http://lvh.me:3000/newspapers/<%=  newspaper.id %>" class="twitter-share-button" data-lang="ko">Tweet</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      <p>
        <%= button_to '스크랩', clips_path(newspaper: newspaper), class: 'btn btn-small' %>
        <%= button_to '댓글', newspaper_path(newspaper.id), class: "btn btn-small", method: :get%>
      </p>
    <% end %>
  </div>
<% end %>

<br />